body {
	font-family: 'Lato', sans-serif;
	color: #747704;
	font-weight: 300;
}

.text-muted{
	color: #BCBBBB;
}

.text-thin{
	font-weight: 100;
}

.title-super{
	font-size:60px;
}

.title-logo{
	margin-top: 20px;
	max-height:120px;
	max-width:120px;	
}
img {
	max-width: 100%;

}
a{
	color: #747704;
}
p{
	class:text-center;
}
.workitem{
	text-align: center;
}
.pictures{
	max-width:390px;
}